[build]
base = ""
publish = "build"
command = "npm run build"

[build.environment]
REACT_APP_API_URL = "https://beyondchat-api-1.onrender.com/api"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
